<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .wrapper {
            margin: auto;
            max-width: 960px;
            width: 100%;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <form action="/posts" method="POST">
        <input type="text" name="uid" title="Stack Overflow user ID" placeholder="Stack Overflow user ID">
        <button type="submit">Get posts</button>
    </form>

    <button id="my-posts" type="submit" disabled>Get my posts</button>

    <script type='text/javascript' src='https://api.stackexchange.com/js/2.0/all.js'></script>
    <script type='text/javascript'>
        SE.init({
            clientId: 11162,
            key: '{{ stackapps_key }}',
            channelUrl: 'http://localhost:5000',
            complete: function () {
                var btn = document.getElementById('my-posts');
                btn.removeAttribute('disabled');
            }
        });

        document.getElementById('my-posts').addEventListener('click', function () {
            SE.authenticate({
                success: function(data) {
                    window.location = '/posts?token=' + encodeURIComponent(data.accessToken);
                },
                error: function(data) {
                    alert('An error occurred:\n' + data.errorName + '\n' + data.errorMessage);
                }
            });
        });

    </script>
</div>
</body>
</html>