<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Username: {{ user.display_name }}</h3>
    <ul>
        {% for post in posts %}
            <li><a href="{{ post.link }}">{{ post.link }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>